body {
	background-color: black;
}

h1{
	color: white;
	font-family: 'Story Book';
	text-align: center;
	font-weight: 100;
	font-size: 500%
}

#thermostat {
	margin-left: 20%;
	width: 90%;
	height: 80%;
}

section{
	display: in-line;
}

#uparrow {
	margin-left: 45%;
	width: 5%;
}

#downarrow {
	width: 5%;
}

h2 {
	font-family: 'Story Book';
	text-align: center;
	color: lime;
	font-size: 500%;
}