<html>
	<head>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	</head>

	<body>
		<h1>Thermostat</h1>

			<section>
				<h2 id="temperature">
					20&deg
				</h2>
				<h3 id="outdoorTemp">
				</h3>
				<img id="uparrow" src="/images/uparrow.png">
				<img id="downarrow" src="/images/downarrow.png">
			</section>
				
			<section>
				<h3 id="powersaver">Power Saver</h3>
				<h3 id="powerstatus">Power Saver : On</h3>
			</section>

		<script type="text/javascript" charset="utf-8" src="/src/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/src/interface.js"></script>
	<script type="text/javascript" charset="utf-8" src="/src/thermostat.js"></script>
	</body>
</html>